body
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color-primary)

.section,
.header,
.footer
  max-width: 1480px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto

html
  height: 100%;
  background-color: var(--app-background-color)

.typography-h2,
h2
  color: var(--text-color-primary)
  margin: 0
  font-size: 40px
  line-height: 110%
  font-weight: 500

  
body.body--overflow-y-hidden
  overflow-y: hidden
  
.typography-h3,
h3
  color: var(--text-color-primary)
  margin: 0
  font-size: 30px 
  line-height: 110%
  
.link-styles-remove
  text-decoration: none
  color: inherit
  &:visited
    color: inherit

h1,h2,h3,h4
  margin: 0
